body {
  background: linear-gradient(
    150deg,
    rgba(120, 126, 235, 1) 0%,
    rgb(170, 120, 235) 50%,
    rgb(135, 120, 235) 100%
  );
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.vidro {
  display: flex;
  justify-content: center;
  position: relative;
  width: 60vw;
  height: 40vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
}

.sobre {
  position: absolute;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 0 3vw;
}

@media screen and (max-width: 768px) {
  .sobre {
    font-size: 12px;
  }
}

.sites {
  position: absolute;
  top: 38vh;
}

.linkedin {
  background-color: #4c61af;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.github {
  background-color: #4f5052;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 0 3vw;
  text-decoration: none;
}
